.maini{
    padding: 15px;
    .h2i{
        text-align: start;
        margin: 1.5em auto;
        color: #4b84cf;
        font-weight: 700;
        padding-bottom: 1em;
    }
    .imagenes-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        flex-direction: row;
        gap: 30px;
    }
        .elemento{
            display: flex;
            flex-direction: column;
            align-items: center; 
        }
        .imgi{
            width: 100%;
            height: auto;
            opacity: 0.4;
            transition: opacity 0.3s;
            
        }
        .imgi:hover{
            opacity: 1;
            border: black;
            border-radius: 10px;
            border: double #AB63BF 3px;
        }
        .h3i{
            text-align: center;
            color: #4b84cf;
            font-weight: 700;
            gap: 10px;
        }
        .videoi{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .video{
            width: 100%;
        }
        @media (max-width: 480px) {
            .imagenes-container {
                flex-direction: column;
            }
        }
    
}