.h2n{
    text-align: start;
    margin: 1.5em auto;
    color: #4b84cf;
    font-weight: 700;
    padding-bottom: 1em;
}
.containernn{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    flex-direction: row;
    gap: 30px;
}
    .imgn{
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .imgnn{
        width: 100%;
        height: auto;
        opacity: 0.4;
        transition: opacity 0.3s;
        
    }
    .imgnn:hover{
        opacity: 1;
        border: black;
        border-radius: 10px;
        border: double #AB63BF 3px;
    }
    .h3n{
        text-align: center;
        color: #4b84cf;
        font-weight: 700;
        gap: 10px;
    }
.videonn{
    justify-content: center;
    .iframe{
        padding: 10px;
        padding-right: 30px;
        width: 100%;
        height: 50vw;
        text-align: center;
    }
}
